.home-container{
  padding-top: 2px;
  display: grid;
  grid-template-columns: 1.6fr 6fr;
  height: 99vh;
}

.grid-col-1{
  border: 2px dotted;
  background-color: black;
}
.grid-col-2{
  border: 2px dotted black;
}