.title-class{
    text-align: left;
    list-style: none;
    margin-top: 2%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}

/* Reset default styles */
/* ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  } */
  
 .input-class li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .input-class{
    text-align: left;
  }
  /* Style form elements */
  input[type="text"],
  textarea,
  select {
    width: 80%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  select {
    width: 80%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    cursor: pointer;
  }
  
  textarea {
    height: 30%;
  }
  
button {
    background-color: #950723;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #890620;
  }
  
  .amt-class{
    color: red;
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
    margin: 2%;
  }